<% content_for :styles do %>
  <%= stylesheet_link_tag "lytebox" %>
<% end %>

<% content_for :preload_scripts do %>
  <%= javascript_include_tag "jquery-1.3.min" %>
  <%= javascript_include_tag "jquery.hoverIntent.minified" %>
  <%= javascript_include_tag "jquery.bgiframe.min" %>
  <%= javascript_include_tag "jquery.bt.min" %>
  <%= javascript_include_tag "seadragon-min" %>
  <% unless @featured_photo.nil? %>
  <script type="text/javascript">
    var viewer = null;
            
    function init() {
      viewer = new Seadragon.Viewer('viewer');
      viewer.openDzi('<%= Gallery.get_featured(@featured_photo) %>');
    }
            
    Seadragon.Utils.addEvent(window, "load", init);

    $(document).ready(
      function() {
        $(".thumbnail").bt( {
          padding: 20,
          fill: 'rgba(0, 0, 0, .8)',
          strokeWidth: 2,
          strokeStyle: '#fff',
          cssStyles: {color: '#fff'}
        });
      });

  <% end %>    
  </script>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "lytebox" %>
<% end %>

<div id="featured">
  <% unless @featured_photo.nil? %>
    <div class="largepic">
    <div id="viewer"></div>
    <!--
      %= render_featured(@featured_photo) %>
      -->
    </div>
    <div class="caption">
      <h2>...<%=h @featured_photo.name.downcase %></h2>
      <p><%=h @featured_photo.description.gsub("\n","<br>") %></p>
    </div>
    <div class="about">
      <%= render :partial => "shared/about" %>
    </div>
  <% end %>
</div>

<div id="gallery">
  <% unless @photos.nil? %>
    <% @photos.shuffle.each do |photo| %>
      <div class="thumbnail" title="<%= photo.description %>">
        <%= render_photo(photo) %>
        <div class="label">
          <p>
          <%= "...#{photo.name}" %>
          </p>
        </div>
      </div>
    <% end %>  
  <% end %>
</div>
