<div id="blogs">

  <% if admin? %>
    <p class="link">
      <%= link_to 'create new[+]', new_blog_path %>
    </p>
  <% end %>

  <% @blogs.each do |blog| %>
    <div class="item">
      <h2><%=h blog.title %></h2>
      <p class="subtext"><%=h blog.modified_date.strftime('%A, %d %B %Y') %></p>
      <%= RedCloth.new(blog.body).to_html %>

      <% if admin? %>
        <p class="link">
          <%= link_to "edit[#]", edit_blog_path(blog) %>
          <%= link_to "remove[x]", blog, :confirm => "are you sure?", :method => :delete %>
        </p>
      <% end %>

    </div>
  <% end %>
  <%= will_paginate(@blogs) %>
</div>
