<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Create date</th>
    <th>Modified date</th>
    <th>Body</th>
    <th>Author</th>
    <th>Email</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%=h blog.title %></td>
    <td><%=h blog.create_date %></td>
    <td><%=h blog.modified_date %></td>
    <td><%=h blog.body %></td>
    <td><%=h blog.author %></td>
    <td><%=h blog.email %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blog', new_blog_path %>