<p>
  <b>Title:</b>
  <%=h @blog.title %>
</p>

<p>
  <b>Create date:</b>
  <%=h @blog.create_date %>
</p>

<p>
  <b>Modified date:</b>
  <%=h @blog.modified_date %>
</p>

<p>
  <b>Body:</b>
  <%=h @blog.body %>
</p>

<p>
  <b>Author:</b>
  <%=h @blog.author %>
</p>

<p>
  <b>Email:</b>
  <%=h @blog.email %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>