<ul id="menu">
  <% if admin? %>
    <li><%= link_to ".logout", logout_url  %></li>
    <li><%= link_to ".site actions", admin_url  %></li>
  <% end %> 
  <li><%= link_to ".about", about_url %></li>
  <li><%= link_to ".feedback", new_feedback_url, :rel => "lyteframe", :title => "Add Feedback", :rev => "width: 600px; height:640px; scrolling:yes;" %></li>
  <li><%= link_to ".home", root_url %></li>
</ul>
