
<div id="page">
  <div id="header">
    <h1><p class="title">redport</p> <p class="caption">| picture the world</p></h1>
  </div>
  <div id="content">
    <ul class="category">
      <li class="selected">landscapes</li>
      <li>still life</li>
      <li>portrait</li>
      <li>project 360</li>
    </ul>
    <div id="gallery">
      <div class="photo-big">
        <%= image_tag 'sample1.jpg' %>
        <div class="caption">
          <div class="caption-back" ></div>
          <div class="caption-text" >
            <h3>red one</h3>
            <p>Tyrannosaurus</p>
          </div>
        </div>
      </div>

      <div class="photo">
        <%= image_tag 'sample2.jpg' %>
        <div class="caption">
          <div class="caption-back" ></div>
          <div class="caption-text" >
            <h3>black two</h3>
            <p>Mastodon</p>
          </div>
        </div>
      </div>

      <div class="photo">
        <%= image_tag 'sample3.jpg' %>
        <div class="caption">
          <div class="caption-back" ></div>
          <div class="caption-text" >
            <h3>blue three</h3>
            <p>Tricerotops</p>
          </div>
        </div>
      </div>

      <div class="photo">
        <%= image_tag 'sample4.jpg' %>
        <div class="caption">
          <div class="caption-back" ></div>
          <div class="caption-text" >
            <h3>yellow four</h3>
            <p>Sabertooth tiger</p>
          </div>
        </div>
      </div>

      <div class="photo">
        <%= image_tag 'sample5.jpg' %>
        <div class="caption">
          <div class="caption-back" ></div>
          <div class="caption-text" >
            <h3>pink five</h3>
            <p>Pterodactyl</p>
          </div>
        </div>
      </div>

      <div class="photo">
        <%= image_tag 'sample6.jpg' %>
        <div class="caption">
          <div class="caption-back" ></div>
          <div class="caption-text" >
            <h3>Red one</h3>
            <p>Tyrannosaurus</p>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div id="pagenav">
    <p>.1..2..3..4..5..6..7..8..9.</p>
  </div>
  <hr>
  <div id="menu"><p>home | blog | redport project | about</p></div>
  <div id="footer">
    <p>copyright (c) 2012. redport 2.0 //marc vitalis//</p>
  </div>
</div>
