<div id="page">
  <div id="header">
    <h1><p class="title">redport</p> <p class="caption">| picture the world</p></h1>
  </div>
  <div id="content">
    <div class="photo1">
      <%= image_tag 'android1.jpg' %>
      <div class="caption">
        <div class="caption-back" ></div>
        <div class="caption-text" >
          <p>Ruby in red.</p>
        </div>
      </div>
    </div>
    <div class="photo2">
      <%= image_tag 'android2.jpg' %>
      <div class="caption">
        <div class="caption-back" ></div>
        <div class="caption-text" >
          <p>Ruby in red.</p>
        </div>
      </div>
    </div>
    <div class="photo3">
      <%= image_tag 'android3.jpg' %>
      <div class="caption">
        <div class="caption-back" ></div>
        <div class="caption-text" >
          <p>Ruby in red.</p>
        </div>
      </div>
    </div>
        <div class="photo4">
      <%= image_tag 'android1.jpg' %>
      <div class="caption">
        <div class="caption-back" ></div>
        <div class="caption-text" >
          <p>Ruby in red.</p>
        </div>
      </div>
    </div>
        <div class="photo5">
      <%= image_tag 'android2.jpg' %>
      <div class="caption">
        <div class="caption-back" ></div>
        <div class="caption-text" >
          <p>Ruby in red.</p>
        </div>
      </div>
    </div>
        <div class="photo6">
      <%= image_tag 'android3.jpg' %>
      <div class="caption">
        <div class="caption-back" ></div>
        <div class="caption-text" >
          <p>Ruby in red.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <p>copyright (c) 2012. redport 2.0 //marc vitalis//</p>
  </div>
</div>
