<div id="feedback">
  <h2>New Feedback</h2>
  <% if flash[:notice] %>
  <br>
  <div id="message">
    <p class="notice">
      <%=flash[:notice]%>
    </p>
  </div>
  <br>
  <% end %>
  
  <br>
  <% form_for :feedback, @feedback, :url => { :action => "create" } do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email, :class => "text" %>
  </p>
  <br>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Create", :class => "button" %>
  </p>
  <% end %>
</div>