<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= "#{APP_CONFIG['global']['name']} | #{APP_CONFIG['global']['title']}" %></title>
    <%= yield :styles %>
    <%= render :partial => "shared/styles" %>
    <%= render :partial => "shared/analytics" %>
  </head>
  <body>
    <div id="container">
      <%= render :partial => "shared/header" %>
      <%= yield %>
      <%= render :partial => "shared/footer" %>

      <%= yield :scripts %>
      <%= render :partial => "shared/scripts" %>
    </div>
  </body>
</html>
