<!DOCTYPE html>
<html>
<head>
  <title>redport 2.0 - coming soon</title>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="pages">
  <%= render "shared/header" %> 
  <%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
