<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>redport: an online photography portfolio</title>
    <%= yield :styles %>
    <%= render :partial => "shared/styles" %>
  </head>
  <body>
    <%= render :partial => "shared/header" %>

    <div id="content">
      <%= yield %>
    </div>


    <%= render :partial => "shared/footer" %>

    <%= yield :scripts %>
    <%= render :partial => "shared/scripts" %>
  </body>
</html>
